build_release_5.11/*.*
Release/*
Debug/*
android-build/*
build/*
src/obj/*.o
src/obj/*.P
src/obj-test/*.o
src/obj-test/*.P
src/obj/build.h
src/leveldb/db/*.o
src/leveldb/helpers/memenv/*.o
src/leveldb/port/*.o
src/leveldb/table/*.o
src/leveldb/util/*.o
src/leveldb/libleveldb.a
src/leveldb/libmemenv.a
src/qt/locale/*.qm
SperoCoin-qt.pro.user
SperoCoin-qt.pro.user.bf3be79
android/local.properties~
android/local.properties
android/gradle.properties~
android/gradle.properties
keystore/*
.qmake.stash
android-libSperoCoin-qt.so-deployment-settings.json
app_process
libc.so
libSperoCoin-qt.so
linker
Makefile
qrc_bitcoin.cpp
